:80 {
    route {

        # ------------------------------------------------------------
        #                         Security headers
        # ------------------------------------------------------------
        # SECURITY: Block other applications from accessing the application at the Caddy level
        @foreign expression `{http.request.header.Origin} != "" && !{http.request.header.Origin}.endsWith("://" + {http.request.host})`
        respond @foreign 403

        # SECURITY: Restricts the scripts in the browser from communicating with external sources
        header Content-Security-Policy "
            default-src         'self';
            script-src          'self' 'unsafe-inline' 'unsafe-eval';
            style-src           'self' 'unsafe-inline';
            img-src             'self' data:;
            font-src            'self' data:;
            connect-src         'self';
            frame-ancestors     'self';
            frame-src           'self';
            child-src           'self';
            form-action         'self';
            base-uri            'self';
            worker-src          'self';
            upgrade-insecure-requests;
        "

        # SECURITY: Force HTTPS for this domain
        header Strict-Transport-Security "max-age=31536000"
        # ------------------------------------------------------------
        # ------------------------------------------------------------
        # ------------------------------------------------------------









        # VITE
        handle /* {
            reverse_proxy vpnhelp-vite:80
        }


    }
}